[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cnefetools"]
	path = cnefetools
	url = https://github.com/pedreirajr/cnefetools
